.body {
    background-color: black;
}

.img_1 {
    height: 150px;
    width: 300px;
    margin-right: auto;
    order: 0;
    border: 7px solid rgb(175, 22, 22);
}

.img_2 {
    height: 150px;
    width: 300px;
    margin-left: auto;
    order: 0;
    border: 7px solid rgb(175, 22, 22);
}

.img_3 {
    height: 150px;
    width: 160px;
    border: 5px groove red;
}

.img_3:hover {
    height: 400px;
    width: 400px;
    margin: 0px;
    border: 4px dashed red;
    border-radius: 20px;
}

.h1 {
    text-shadow: 2px 2px 3px red, 0 0 0.5em red;
    font-size: 65px;
    font-family: Georgia;
    color: rgb(175, 22, 22);
    width: auto;
    text-align: center;
}

.h2:hover {
    color: gray;
}

.h2 {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-style: italic;
    text-decoration: underline;
    display: block;
    margin: 15.5px 0px;
}

.h_3 {
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 0.5em red;
}

.video {
    height: 150px;
    width: 230px;
    border-bottom: red;
    padding: 10px;
}

.Table_1 {
    border: 5px solid rgb(175, 22, 22);
    background-color: rgba(255, 255, 255, 0.747);
}

.p_1 {
    font-size: 22px;
    font-family: cursive;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 0.5em red;
}

.p_2 {
    font-size: 20px;
    font-family: cursive;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 0.5em red;
    line-height: 1.5;
    text-align: justify;
    text-indent: 20px;
}

.h_5 {
    color: grey;
    font-size: 17;
    font-family: Bookman;
    text-decoration: underline;
}

.img_4 {
    height: 300px;
    width: 250px;
    border: 10px double rgb(175, 22, 22);
    border-radius: 10px;
}

.aside {
    border: 5px solid rgb(175, 22, 22);
    background-color: white;
    float: left;
    position: fixed;
    z-index: 100;
    top: 206px;
    width: 250px;
}

.menu_2 {
    position: relative;
    width: 1250px;
    float: right;
    top: 198px;
}

.head {
    background-color: white;
    border: 5px solid rgb(175, 22, 22);
    position: sticky;
    display: flex;
    align-items: flex-start;
    padding: 1em;
    max-width: auto;
}

.head_1 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1503px;
}

.article {
    border: 5px solid rgb(175, 22, 22);
    background-color: black;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(19deg, #ffffff 0%, #ff3021 100%);
    z-index: 1001;
    color: #eee;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 10s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 1.5s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}