.body {
    background-color: black;
}

.img_1 {
    height: 150px;
    width: 300px;
    margin-right: auto;
    order: 0;
    border: 7px solid rgb(175, 22, 22);
}

.img_2 {
    height: 150px;
    width: 300px;
    margin-left: auto;
    order: 0;
    border: 7px solid rgb(175, 22, 22);
}

.head {
    background-color: white;
    border: 5px solid rgb(175, 22, 22);
    position: sticky;
    display: flex;
    align-items: flex-start;
    padding: 1em;
    max-width: auto;
}

.head_1 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1503px;
}

.margin_1 {
    margin-top: 40px;
}

.h1 {
    text-shadow: 2px 2px 3px red, 0 0 0.5em red;
    font-size: 65px;
    font-family: Georgia;
    color: rgb(175, 22, 22);
    width: auto;
}

.h2:hover {
    color: gray;
}

.h2 {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-style: italic;
    text-decoration: underline;
    display: block;
    margin: 15.5px 0px;
}

.aside {
    border: 5px solid rgb(175, 22, 22);
    background-color: white;
    float: left;
    position: fixed;
    z-index: 100;
    top: 206px;
    width: 245px;
}

.h_3 {
    color: white;
    padding-left: 20px;
    font-size: 35px;
    text-shadow: 4px 4px 5px red;
    position: relative;
    text-align: center;
}

.h_4 {
    color: grey;
    font-size: 17;
    font-family: Bookman;
    text-decoration: underline;
}

.h_5 {
    font-size: 30px;
    font-family: sans-serif;
    color: red;
}

.h_6 {
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
    color: red;
}

.h_7 {
    color: white;
    padding-left: 20px;
    font-size: 35px;
    text-shadow: 4px 4px 5px red;
}

a {
    text-decoration: none;
}

.list_1 {
    color: red;
    font-size: 35px;
}

.list_2 {
    font-size: 35px;
    color: red;
    font-family: system-ui;
}

.article {
    border: 5px solid rgb(175, 22, 22);
}

.article_2 {
    border-left: 7px solid red;
    border-right: 7px solid red;
    margin-left: 10px;
    margin-right: 10px;
}

.p_1 {
    background-color: black;
    font-size: 18px;
    font-style: italic;
    font-family: system-ui;
    color: white;
    text-indent: 20px;
    text-align: justify;
}

.p_2 {
    font-size: 16px;
    font-family: cursive;
    color: red;
}

.img_3 {
    height: 210px;
    width: 230px;
    border-radius: 20px;
    border: 2px dashed red;
}

.img_4 {
    height: 170px;
    width: 170px;
    border-radius: 90px;
    border: 5px solid red;
}

.img_4:hover {
    height: 370px;
    width: 370px;
    border: 3px solid red;
    border-radius: 20px;
}

.img_3:hover {
    height: 400px;
    width: 400px;
    border: 7px ridge red;
    border-radius: 50px;
}

.menu {
    position: relative;
    width: 1250px;
    float: right;
    top: 198px;
}

.menu_2 {
    position: relative;
    width: 1240px;
    float: right;
    border: 5px solid rgb(175, 22, 22);
}

.table_1 {
    border: 5px solid red;
    border-radius: 30px;
    margin: 0 5px 0 5px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(19deg, #ffffff 0%, #ff3021 100%);
    z-index: 1001;
    color: #eee;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 10s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 1.5s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}